@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Signika+Negative:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.main-section {
    background-color: bisque;
    width: 100%;
    height: 100vh;
    padding: ;
    display: ;
}

.java-box-container {
    display: flex;
    justify-content: space-evenly;
}

.java-box {
    background-color: aqua;
    border: 1px black solid;
    padding: 4px;
    width: 25vw;
    height: 25vh;
    text-align: center;
    font-size: small;
}

.java-box1 {
    background-color: blue;
}

.java-box2 {
    background-color: red;
}

.java-box3 {
    background-color: yellow;
}

.java-box4 {
    background-color: green;
}